annotated-types
anyio
blis
catalogue
certifi
charset-normalizer
click
cloudpathlib
colorama
confection
cymem
dnspython
email_validator
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.7.1/en_core_web_lg-3.7.1-py3-none-any.whl
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
exceptiongroup
fastapi
fastapi-cli
filelock
fsspec
gensim
h11
httpcore
httptools
httpx
huggingface-hub
idna
intel-openmp
Jinja2
joblib
langcodes
language_data
marisa-trie
markdown-it-py
MarkupSafe
mdurl
mkl
mpmath
murmurhash
networkx
nltk
numpy
orjson
packaging
preshed
pydantic
pydantic_core
Pygments
python-dotenv
python-multipart
PyYAML
regex
requests
rich
safetensors
scipy==1.12.0
shellingham
smart-open
sniffio
spacy
spacy-legacy
spacy-loggers
srsly
starlette
sympy
tbb
thinc
tokenizers
torch
tqdm
transformers
typer
typing_extensions
ujson
urllib3
uvicorn
wasabi
watchfiles
weasel
websockets
wrapt
